@page "/CRUD_Materias/D_Materia"
@using Sistema_Estudiantil.Models

<MudCard Style="margin:30px;">
    <MudCardContent>
        <MudIconButton Link="/CRUD_Materias/Materias" Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary" />
        <h2 class="text-center"><strong>Eliminar Materia</strong></h2>
        <MudGrid Class="mt-3">
            <MudExpansionPanel IsExpanded="true" Class="bg-light" Text="Formulario para eliminar la materia">
                <MudForm @ref="form" @bind-IsValid="success" @bind-Errors="errors">
                    <MudGrid Class="mt-3">
                        <MudItem xs="12">
                            <label>Ingrese el Codigo de la Materia:</label>
                            <MudTextField Variant="Variant.Outlined" T="long" @bind-Value="materia.MateriaId" />
                        </MudItem>
                        <MudItem xs="12" Style="display:flex; justify-content:center;">
                            <MudButton Variant="Variant.Filled" Color="Color.Error" Disabled="@(!success)" @onclick="DeleteMateria" EndIcon="@Icons.Filled.DeleteForever">Eliminar</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudExpansionPanel>
        </MudGrid>
    </MudCardContent>
</MudCard>

@if (showErrorAlert)
{
    <MudAlert Style="margin-bottom:25px;"
              Severity="Severity.Error"
              Variant="Variant.Filled"
              AlertTextPosition="AlertTextPosition.Center"
              ShowCloseIcon="true"
              CloseIconClicked="(() => CloseMe(false))">
        Debe llenar el campo del codigo de la materia...
    </MudAlert>
}

@if (showErrorNotFoundAlert)
{
    <MudAlert Style="margin-bottom:25px;"
              Severity="Severity.Error"
              Variant="Variant.Filled"
              AlertTextPosition="AlertTextPosition.Center"
              ShowCloseIcon="true"
              CloseIconClicked="(() => CloseMe(false))">
        La materia no fue encontrada...
    </MudAlert>
}

@if (showSuccessfulAlert)
{
    <MudAlert Style="margin-bottom:25px;"
              Severity="Severity.Success"
              Variant="Variant.Filled"
              AlertTextPosition="AlertTextPosition.Center"
              ShowCloseIcon="true"
              CloseIconClicked="(() => CloseMe(false))">
        La materia fue eliminada de forma correcta...
    </MudAlert>
}



@code{
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;

    //Mostrar el formulario de editar, cuando el id sea encontrado
    bool showErrorAlert = false;
    bool showErrorNotFoundAlert = false;
    bool showSuccessfulAlert = false;

    private void CloseMe(bool value)
    {
        if (value)
        {
            showErrorAlert = false;
            showErrorNotFoundAlert = false;
            showSuccessfulAlert = false;
        }
        else
        {
            showErrorAlert = false;
            showErrorNotFoundAlert = false;
            showSuccessfulAlert = false;
        }
    }

    bool exists;
    string Mensaje;
    Materia materia = new Materia();
    List<Materia> GetMaterias() => new ProgramaEstudiantilDBContext().Materia.Where(x => x.MateriaId == materia.MateriaId).ToList();
    void DeleteMateria()
    {
        using (ProgramaEstudiantilDBContext cmd_Delete = new ProgramaEstudiantilDBContext())
        {
            if (materia.MateriaId == 0)
            {
                showErrorNotFoundAlert = false;
                showErrorAlert = true;
                Mensaje = "Debe Lenar el Campo Cedula!";
            }
            else
            {
                foreach (var item in @GetMaterias())
                {
                    exists = true;
                }
                if (exists == true)
                {
                    cmd_Delete.Remove(materia);
                    cmd_Delete.SaveChanges();
                    showSuccessfulAlert = true;
                    Mensaje = "Materia Eliminada!";
                }
                else
                {
                    Mensaje = "Materia no encontrada!";
                    showErrorAlert = false;
                    showErrorNotFoundAlert = true;
                }
            }
        }
        materia.MateriaId = 0;
    }
}
